<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reyansh.audio.audioplayer">

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:name="com.reyansh.audio.audioplayer.free.Common"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        >
        <activity
            android:name=".free.Activities.SplashActivity"
            android:theme="@style/AppThemeSubActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".free.Services.MusicService">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <receiver android:name=".free.BroadcastReceivers.HeadsetNotificationBroadcast">
            <intent-filter android:priority="1000000000">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".free.AppWidget.SmallWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget_info" />
        </receiver>
        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".free.NowPlaying.NowPlayingActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeSubActivity" />

        <activity
            android:name=".free.LauncherActivity.DonateActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeSubActivity" />


        <activity
            android:name=".free.Equalizer.EqualizerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".free.LauncherActivity.MainActivity"
            android:theme="@style/AppThemeSubActivity" />

        <activity
            android:name=".free.Search.SearchActivity"
            android:theme="@style/AppThemeSubActivity" />


        <activity
            android:name=".free.Setting.SettingActivity"
            android:parentActivityName=".free.LauncherActivity.MainActivity"

            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".free.LauncherActivity.MainActivity" />
        </activity>


        <receiver android:name=".free.BroadcastReceivers.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.reyansh.audio.audioplayer.free.action.PAUSE" />
                <action android:name="com.reyansh.audio.audioplayer.free.action.NEXT" />
                <action android:name="com.reyansh.audio.audioplayer.free.action.PREVIOUS" />
                <action android:name="com.reyansh.audio.audioplayer.free.action.STOP" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".free.TagEditor.Id3TagEditorActivity"
            android:theme="@style/AppThemeSubActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

    </application>

</manifest>